<footer class="container-fluid bg-dark">
    <div class="py-5 text-center">
        <a href="{{ path('home.index') }}" class="text-warning fs-4 text-decoration-none">&copy; 2022 Snowtricks</a>
    </div>
</footer>