<nav class="navbar bg-secondary fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <h1 class="navbar-brand text-light fs-1" href="#">Snowtricks</h1>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active me-2 fs-4" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active me-2 fs-4" aria-current="page" href="">Tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2 fs-4" aria-current="page" href="">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2 fs-4" aria-current="page" href="">Sign up</a>
                </li>
            </ul>
            <!--
            <div class="profil-user d-flex justify-content-between">
                <i class="fa-solid fa-circle-user fa-2xl me-2"></i>
                <h5>Username</h5>
                <i class="fa-solid fa-right-from-bracket fa-2x1 ms-2"></i>
            </div>
             -->
        </div>
    </div>
</nav>