<!-- Modal -->
<div class="modal fade" id="newPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content p-2">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{{ form_start(formPicture) }}
				<div class="modal-body">
					<div class="mb-3">
						<div class="form-group">
							<div class="form-group">
								{{ form_label(formPicture.newPictureLink) }}
								{{ form_widget(formPicture.newPictureLink) }}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Submit</button>
				</div>
			{{ form_end(formPicture) }}
		</div>
	</div>
</div>
