:root {
    --primaryFontFamily: 'Roboto';
    --secondaryFontFamily: 'Caveat Brush', cursive;
}

body {
    font-family: var(--primaryFontFamily);
    background:#F8F8FF;
    text-decoration: none;
}

.navbar {
    background-color: rgba(0,0,0,.2);
} 

.navbar-brand {
    font-family: var(--secondaryFontFamily);
}

.hero {
    position: relative;
}

#btnDown {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.tricks-list {
    position: relative;
}

#btnUp {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    z-index: -1;
}

@media (min-width: 992px) {
    .about-text {
        margin-left: -120px;
    }
}

/*
.hero {
    background: url('../images/snowboarder5.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	filter: brightness(75%);
} */

.main {
    padding: 60px 0;
}

.login {
    padding-bottom: 150px;
}

.sign-image img {
    width: 350px;
}

.login .container {
    width: 900px;
    margin: 0 auto;     
}

.sign-content {
    padding: 75px 30px;
}

input {
    display: block;
    padding: 6px 30px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
    font-size: 15px;
}

label {
    position: absolute;
    padding-top: 5px;
}

.btn-info:hover {
    color: #0DCAF0!important;
    background: white;
}

.back-button:hover {
    background: #0DCAF0!important;
    color: white!important;
}

.sign-image-link {
    display: block;
}

.sign-image-link:hover {
    color: #ffc107!important;
}