:root {
    --primaryFontFamily: 'Roboto';
    --secondaryFontFamily: 'Caveat Brush', cursive;
}

body {
    font-family: var(--primaryFontFamily);
    text-decoration: none;
}

.navbar-brand {
    font-family: var(--secondaryFontFamily);
}

.hero {
    position: relative;
}

.content {
    margin: auto;
}

#btnDown {
    position: absolute;
    right: 40px;
    bottom: 30px;
}

.tricks-list {
    position: relative;
}

 #btnUp {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.masthead {
    padding-top: 20rem;
    padding-bottom: 6rem;
    text-align: center;
    height: 75vh;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    z-index: -1;
}

@media (min-width: 992px) {
    .about-text {
        margin-left: -120px;
    }
}



