{% extends 'base.html.twig' %}

{% block title %}Home - Snowtricks
{% endblock %}

{% block body %}
<!-- hero -->        
<header class="hero w-100 vh-100" id="hero" style="padding: 8em;">
	<div class="content">
		<h1 class="text-warning fw-bold">Snowboarding</h1>
		<h2 class="text-info fw-bold">Share your passion</h2>
	</div>
	<div id="btnDown">
		<a href="#tricks-list" class="icon-down">
			<span class="fa-stack fa-2x" style="--fa-inverse: black;">
				<i class="fa-solid fa-circle fa-stack-2x text-warning"></i>
				<i class="fa-solid fa-arrow-down fa-stack-1x fa-lg fa-inverse"></i>
			</span>
		</a>
	</div>	
</header>

<!-- tricks sections -->
<section class="tricks-list container-fluid text-center py-5" id="tricks-list">
	<div class="row py-lg-1">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="text-info fw-bold p-3 mb-3">Tricks list</h1>
			<p class="lead fs-4 p-2 mb-1">Snowboard tricks are aerials or maneuvers performed on snowboards for fun, 
			or in competitions. Most often, these maneuvers are performed on obstacles such as jumps, halfpipes, quarterpipes, 
			hips, handrails, funboxes, or ledges, or on the surface of the snow. Many have their origins in precursory board 
			sports such as skateboarding and surfing.</p>
		</div>
	</div>
	<div class="album py-5">
		<div class="container">
			<div class="row g-4">
				{% for trick in tricks %}	
					<div class="col-lg-4 col-md-6">
						<div class="card shadow-sm">
							<a href=""><img src="{{ trick.pictures[0].pictureLink }}"></a>
							<div class="card-body">
								<div class="card-meta d-flex justify-content-between">
									<p class="text-info fw-bold my-auto fs-5">{{ trick.name }}</p>
									<div class="btn-group fs-3">
										<a class="button-edit" href="">
											<button class="btn btn-lg btn-success me-3"><i class="fa-solid fa-pen text-light"></i></button>
										</a>
										<a class="button-delete" href="">
											<button class="btn btn-lg btn-danger"><i class="fa-solid fa-trash-can text-light"></i></button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="col-lg-4 col-md-6">
					<div class="card-add shadow rounded-1 bg-info d-flex justify-content-center align-items-center">
						<a class="trick-add" href="">
							<span class="fa-stack fa-2x" style="--fa-inverse: black;">
								<i class="fa-solid fa-circle fa-stack-2x text-light"></i>
								<i class="fa-solid fa-plus fa-stack-1x fa-lg fa-inverse"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="btn-more btn btn-warning fw-bold fs-4">More</a>
	<div id="btnUp">
		<a href="#hero" class="icon-up">
			<span class="fa-stack fa-2x" style="--fa-inverse: black;">
				<i class="fa-solid fa-circle fa-stack-2x text-warning"></i>
				<i class="fa-solid fa-arrow-up fa-stack-1x fa-lg fa-inverse"></i>
			</span>
		</a>
	</div>
</section>
{% endblock %}
