<a class="button-delete">
    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ trick.id }}">
        <i class="fa-solid fa-trash-can text-light"></i>
    </button>
</a>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger fs-4" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs-5">
                <p>Do you really want to delete this trick :</p>
                <p class="text-info fw-bold">{{ trick.name }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{{ path('trick.delete', {id: trick.id}) }}" type="button" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>