{% for picture in trick.pictures %}
	<div class="col-lg-3 col-md-6">
		<div class="card-gallery">
			<img src="{{ picture.pictureLink }}" type="button" class="img-fluid img-thumbnail shadow" alt="picture" data-bs-toggle="modal" data-bs-target="#pictureModal">
		</div>
    </div>
	<!-- Modal -->
	<div class="modal fade" id="pictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<img src="{{ picture.pictureLink }}" class=" img-fluid modal-img" alt="modal img">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
	</div>
{% endfor %}
